.title {
  font-family: "Roboto-Bold";
  font-size: 36px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-secondary-blue);
}

.section_border {
  border-radius: 16px;
  gap: 10px;
  height: 460px;
}

.section_border_0 {
  border: 3px solid var(--theme-purple);
  margin-right: 30px;
}

.section_border_1 {
  border: 3px solid var(--theme-blue);
  margin-right: 15px;
  margin-left: 15px;
}

.section_border_2 {
  border: 3px solid var(--theme-red);
  margin-left: 30px;
}

.card_title {
  font-family: "Roboto-Regular";
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-secondary-blue);
}

.card_para {
  overflow: hidden;
  color: var(--theme-gray-500);
  text-overflow: ellipsis;
  font-family: "OS-Regular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 765px) {
  .section_border {
    border: 3px solid var(--theme-secondary-blue);
    border-radius: 16px;
    gap: 10px;
    height: auto;
  }
  .section_border_0 {
    border: 3px solid var(--theme-purple);
    margin-right: 0px;
  }

  .section_border_1 {
    border: 3px solid var(--theme-blue);
    margin-right: 0px;
    margin-left: 0px;
  }

  .section_border_2 {
    border: 3px solid var(--theme-red);
    margin-left: 0px;
  }
}

@media (min-width: 767px) and (max-width: 1000px) {
  .section_border {
    border: 3px solid var(--theme-secondary-blue);
    border-radius: 16px;
    gap: 10px;
    height: 700px;
  }
  .section_border_0 {
    border: 3px solid var(--theme-purple);
    margin-right: 30px;
  }

  .section_border_1 {
    border: 3px solid var(--theme-blue);
    margin-right: 15px;
    margin-left: 15px;
  }

  .section_border_2 {
    border: 3px solid var(--theme-red);
    margin-left: 30px;
  }
}

@media (min-width: 1001px) and (max-width: 1199px) {
  .section_border {
    border: 3px solid var(--theme-secondary-blue);
    border-radius: 16px;
    gap: 10px;
    height: 550px;
  }
  .section_border_0 {
    border: 3px solid var(--theme-purple);
    margin-right: 30px;
  }

  .section_border_1 {
    border: 3px solid var(--theme-blue);
    margin-right: 15px;
    margin-left: 15px;
  }

  .section_border_2 {
    border: 3px solid var(--theme-red);
    margin-left: 30px;
  }
}
