.sub_title {
  font-family: "OS-Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-primary-700);
}

.title {
  font-family: "Roboto-Bold";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--theme-secondary-blue);
}

.text {
  font-family: "OS-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-gray-500);
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 18px;
    line-height: 28px;
  }
}
