.list {
  background-color: var(--theme-purple-50);
  font-family: "Roboto-Bold";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #313e5b;
  height: 60px;
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.list:hover {
  color: #f4eef6;
  background-color: #6f2b8c;
}

.feat_sub_title {
  font-family: "OS-Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-primary-700);
}

.feat_title {
  font-family: "Roboto-Bold";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--theme-secondary-blue);
}

.feat_text {
  font-family: "OS-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #313E5B;
}

@media screen and (max-width: 550px) {
  /* .list {
    width: 13rem;
  } */

  .list {
    width: 13rem;
    height: 65px;
    font-size: 15px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .DataGovernanceListCards {
    display: flex;
    gap: 15px;
    overflow: auto;
  }
  .feat_title {
    font-family: "OS-Regular";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #313E5B;
  }
}
