.sub_title {
  font-family: "OS-Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.title {
  font-family: "Roboto-Bold";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
  margin-top: -35px;
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 20px;
    line-height: 30px;
    margin-top: -30px;
  }
}

.text {
  font-family: "OS-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: -20px;

}

.platformDataSection {
  display: flex;

  padding: 0px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.PlatformOutputCards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff;
  height: 72px;
  margin: 0px 0px 25px 0;
}

.imageCard {
  /* width: 72px; */
  height: 60px;
}

.imageCardText {
  color: #313e5b;
  font-family: "Roboto-Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.capabibilities {
  display: flex;
  padding: 5px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 99px;
  background: var(--Brand-Purple, #6f2b8c);
  /* width: 21rem; */
  margin: 0px 15px 15px 0px;
}

.capabibilities:hover{
  color: #6F2B8C;
  background-color: #F4EEF6;
}

.capabibilitiesText {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.capabibilitiesSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .capabibilities {
    display: flex;
    padding: 5px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80px;
    width:250px;
    text-align: center;
  }
}