.banner_container_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_container_img2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_button {
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid var(--white);
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--theme-purple-btn-text);
  background-color: var(--white);
  padding: 16px 28px 16px 28px;
  border-radius: 8px;
  border: 1px;
  width: fit-content;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner_button:hover {
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-family: "Roboto-Regular";
  background-color: var(--theme-red);
  color: var(--white);
  border-color: var(--theme-red);
  cursor: pointer;
  scale: 1.05;
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width:0px)and (max-width:1000px) {
  .banner_container_img2 {
    margin-top: 7rem;
  }
}

.image_space {
  padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .overlay {
    position: absolute;
    bottom: 0px;
    left: 9px;
    width: 95%;
    height: 100%;
    background-color: rgb(0 0 0 / 41%);
    border-radius: 14px;
  }
}